:root {
  /* Colores Minimalista*/
  --color-primary: #374955;
  --color-secondary: #6D7A83;
  --color-accent: #1E2A32;
  --color-bg: #F4F6F7;
  --color-surface: #FFFFFF;
  --color-border: #D8DEE2;
  --color-text: #0F0F0F;

  /* Tipografías */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* Tamaños */
  --fs-h1: 4rem;
  --fs-h2: 3.2rem;
  --fs-body: 1.6rem;

  /* Espaciados */
  --spacing-sm: 0.8rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 3.2rem;
}

html {
  font-size: 62.5%;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary);
  font-weight: 700;
}

/* body {

}

h1 {

}

button {

}
button:hover {
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */