.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    font-size: 1.8rem;
}

.navbar__logo img {
    height: 60px;
    width: auto;
}

.navbar__links-container {
    display: flex;
    gap: 2rem;
}
.navbar__link {
    text-decoration: none;
}

.navbar__selectors-container {
    display: flex;
    gap: 1rem;
}

.navbar__selector-theme select,
.navbar__selector-language select {
    border: none;
}

.navbar__selector-theme,
.navbar__selector-language {
    border: solid 1px #ccc;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}